<tr>
    <td>{{ homework.subject.name }}</td>
    <td><a href="{% url hw_show homework.subject.name homework.id %}">{{ homework.short_description }}</a></td>
    <td>{{ homework.date_ends|date:"d.m.Y" }}</td>
    {% if user.is_authenticated %}
        <td>
            <form method="post" action="{% url hw_toggle_finished homework.id %}">
                <input type="hidden" name="orderby" value="{{ orderby }}" />
                {% if finished %}
                    <input type="submit" value="Set unfinished" />
                {% else %}
                    <input type="submit" value="Set finished" />
                {% endif %}
            </form>
        </td>
    {% endif %}
    {% if perms.homeworkmanager.can_change_homework %}
        <td>
            <form method="post" action="{% url hw_edit homework.subject.name homework.id %}">
                <input type="submit" value="Edit" />
            </form>
        </td>
    {% endif %}
    {% if perms.homeworkmanager.can_delete_homework %}
        <td>
            <form method="post" action="{% url hw_remove homework.id %}">
                <input type="hidden" name="orderby" value="{{ orderby }}" />
                <input type="submit" value="Delete" />
            </form>
        </td>
    {% endif %}
</tr>
