<tr>
    <td>{{ homework.subject.name }}</td>
    <td>{{ homework.short_description }}</td>
    <td>{{ homework.date_ends|date:"d.m.Y" }}</td>
    {% if authenticated %}
        <td>
            <form method="post" action="{% url hw_toggle_finished %}">
                <input type="hidden" name="homework_id" value="{{ homework.id }}" />
                <input type="hidden" name="orderby" value="{{ orderby }}" />
                {% if finished %}
                    <input type="submit" value="Set unfinished" />
                {% else %}
                    <input type="submit" value="Set finished" />
                {% endif %}
            </form>
        </td>
    {% endif %}
</tr>
