{% extends "base.html" %}

{% block title %}bearbeiten - {{ block.super }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/admin/js/core.js"></script>
    {{ form.media }}
{% endblock %}

{% block page_title %}
    {% if new %}
        neue hausaufgabe...
    {% else %}
        bearbeiten: "{{ homework.short_description }}"
    {% endif %}
{% endblock %}

{% block main_content %}
<div class="grid_22 alpha omega plain-content" id="new-homework">
    
    <div class="grid_19 push_1 column common-form" id="new-homework-form">
        
        <form method="post" 
            {% if new %}
                action="{% url hw_create %}"
            {% else %}
                action="{% url hw_edit homework.subject.name homework.id %}"
            {% endif %}
        >
        
            <label for="id_subject">
                <h3>fach:</h3>
            </label>
            {{ form.subject.errors }}
            {{ form.subject }}
            
            <label for="id_short_description">
                <h3>kurzbeschreibung:</h3>
            </label>
            {{ form.short_description.errors }}
            {{ form.short_description }}
            
            <label for="id_long_description">
                <h3>ausf&uuml;hrliche beschreibung:</h3>
            </label>
            {{ form.long_description.errors }}
            {{ form.long_description }}
            
            <label for="id_date_ends">
                <h3>zu erledigen bis:</h3>
            </label>
            {{ form.date_ends.errors }}
            {{ form.date_ends }}
            <br /><br />

            {% if next_view %}
                <input type="hidden" name="next_view" value="{{ next_view }}" />
            {% endif %}
        
            <input type="submit" value="hausaufgabe speichern" />
        </form>
        
    </div>
    <!-- end grid_19 #new-homework-form -->
    
    <div class="clear"></div>
    
</div>
<!-- end .grid_22 #new-homework -->

<div class="clear"></div>
{% endblock %}
