{% extends "base.html" %}
{% load homework_tags %}

{% block main_content %}

{% if announcements %}
    <div id="announcements">
        <div class="grid_22 alpha omega" id="announcement-table-head">

            <div class="grid_22 alpha omega table-column"
                 id="announcements-column-head">
                neuigkeiten
            </div>
            <!-- end .grid_3 .alpha .omega .table-column #subject-column-head -->

            <div class="clear"></div>
        </div>
        <!-- end .grid_22 .alpha .omega #announcement-table-head -->

        <div class="clear"></div>
        
        {% for a in announcements %}
        
            <div class="grid_22 alpha omega main-table-row"
                 id="announcement-row-{{ a.id }}">

                <div class="grid_16 alpha table-column" id="title-column-{{ a.id }}">
                    {% if forloop.counter == 1 %}
                        <strong>
                    {% endif %}
                    
                        {{ a.title|lower }}
        
                    {% if forloop.counter == 1 %}
                        </strong>
                    {% endif %}
                </div>
                <!-- end .grid_18 .alpha .table-column #title-column-{{ a.id }} -->
                
                <div class="grid_3 omega table-column" id="date-column-{{ a.id }}">
                    {{ a.date_created|date:"d.m.Y" }}
                </div>
                <!-- end .grid_4 .table-column #date-column-{{ a.id }} -->
                
            </div>
            <!-- end .grid_22 .alpha .omega #table-row-{{ a.id }} -->

            <div class="clear"></div>
            
        {% endfor %}
    </div>
    
<br />
<br />
{% endif %}
{% if homework %}
    <div class="grid_22 alpha omega" id="main-table-head">

        <div class="grid_3 alpha table-column" id="subject-column-head">
            fach
        </div>
        <!-- end .grid_3 .alpha .table-column #subject-column-head -->
        
        <div class="grid_10 table-column" id="shortdescr-column-head">
            kurzbeschreibung
        </div>
        <!-- end .grid_11 .table-column #shortdescr-column-head -->
        
        <div class="grid_3 table-column" id="until-column-head">
            bis
        </div>
        <!-- end .grid_3 .table-column #until-column-head -->
        
        <div class="grid_3 table-column" id="options-column-head">
            optionen
        </div>
        <!-- end .grid_3 .table-column #options-column-head -->
        
        {% if user.is_authenticated %}
            <div class="grid_2 omega table-column" id="finished-column-head">
                fertig?
            </div>
            <!-- end .grid_2 .omega .table-column #finished-column-head -->
        {% endif %}

        <div class="clear"></div>
        
    </div>
    <!-- end .grid_22 .alpha .omega #main-table-head -->

    <div class="clear"></div>

    {% for hw in homework %}
        {% homework_on_main_list hw %}
    {% endfor %}
    
{% else %}
    <br /><br />
    Hier sind noch keine Hausaufgaben.
    <br />
{% endif %}

{% endblock %}
