{% extends "base.html" %}

{% block title %}login - {{ block.super }}{% endblock %}

{% block page_title %}login{% endblock %}

{% block main_content %}

<div class="grid_22 alpha omega plain-content" id="login-form">

    <div class="grid_19 push_1 column common-form" id="login-form-wrapper">

        {% if account_disabled %}
        <div style="margin-top: 20px;">
            <strong>Dein Account ist deaktiviert.</strong>
        </div>
        {% endif %}

        {% if invalid_login %}
        <div style="margin-top: 20px;">
            <strong>Der Benutzername oder das Passwort war nicht richtig.</strong>
        </div>
        {% endif %}

        <form method="post" action="{% url hw_login %}">
            <h3>benutzername</h3>
            <input type="text" name="username" />
            
            <h3>passwort</h3>
            <input type="password" name="password" /><br /><br />
            
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            
            <input type="submit" value="einloggen" />
        </form>
        
    </div>
    <!-- end grid_19 #login-form-wrapper -->
    
    <div class="clear"></div>
    
</div>
<!-- end .grid_22 #login-form -->

<div class="clear"></div>

{% endblock %}
